/* You can add global styles to this file, and also import other style files */

html { height: 100%; width: 100% }
body, mat-card {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Um pouco de margem interna para evitar que encoste nas bordas */
}
mat-card {
  display: block;
  margin: 0 auto;
}
mat-list-item {
  width: 100%;
}
